body{
  background-color: #EBEBEB;
}

/*--Slider--*/

.containerSlider{
 max-width: 100%;
 position:relative;
 margin:0 auto;
 margin-bottom: 10px;
}

.imagenSlider{
  display: none;
}

.prev, .next{
   cursor:pointer;
   position:absolute;
   top:50%;
   width:auto;
   margin-top:-22px;
   padding:16px;
   color:darkorange;
   font-weight:bold;
   font-size:18px;
   transition:0.6s ease;
   border-radius:0 3px 3px 0;

}

.next{
 right:0;
 border-radius:3px 0 0 3px;
}

.prev:hover, .next:hover{
 background-color:rgba(0,0,0,0.4);
 color: #fff;
}

.text{
 color:#f2f2f2;

 padding:8px 12px;
 position:absolute;
 top: 25%;
 width:35%;
 text-align:center;
 font: sans;
}

.numberImage{
 color:#f2f2f2;
 font-size:15px;
 padding:8px 12px;
 position:absolute;
 top:0;
}

.fade{
 -webkit-animation-name:fade;
 -webkit-animation-duration:1.5s;
 animation-name:fade;
 animation-duration:1.5s;
}

@-webkit-keyframes fade{
 from{opacity:.4}
 to{opacity:1}
}

@keyframes fade{
 from{opacity:.4}
 to{opacity:1}
}

/*--Fin Slider--*/

/*--Productos--*/

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 275px);
  grid-gap: 10px;
  justify-content: center;
  margin-top: 30px;

}

.item {
  border-radius: 10px;
  border: solid 1px #f1f1f1;
  background-color: #fff;
}

.item:hover {
  cursor: pointer;
  transition: all 200ms ease;
  box-shadow: 0 0 1em #000;
}

.item img{
  max-width: 100%;
  border-radius: 10px;
}

.nivel-1 {
  grid-row-end: span 3;
}

.nivel-2 {
  grid-row-end: span 2;
}

.nivel-3 {
  grid-row-end: span 1;
}

/*Fin Productos*/


* {
  padding: 0;
  margin: 0;
  box-sizing:border-box
}

p {
  margin-bottom: 20px;
}

.wrapper {
  width: 70%;
  margin: auto;
  overflow:hidden;
}

header {
  background: rgba(0,0,0,0.6);
  width: 100%;
  position: fixed;
  z-index: 10;
  padding: 25px;
}

nav {
  float: right; /* Desplazamos el nav hacia la izquierda */
}

nav ul {
  list-style: none;
  overflow: hidden; /* Limpiamos errores de float */
}

nav ul li {
  float: left;
  font-family: Arial, sans-serif;
  font-size: 14px;
  transition: all 500ms ease;
}

nav ul li a {
  display: block; /* Convertimos los elementos a en elementos bloque para manipular el padding */
  padding: 20px;
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover{
  color: #000;
}

nav ul li:hover {
  background: #fff;
}

.titles {
  padding: 10px 12px;
  background-color: #fff;
  color:#888;
}
