body{
  overflow-x: hidden;
}

*{
  padding: 0px;
  margin: 0px;
}

.Principal{
  padding: 10px;
  border-bottom: 1px solid #EBEBEB;
  justify-content: center;
}

.Nav{
  padding-top: 1%;
}

.Nav nav a{
  transition: all 300ms ease;
  border-radius: 5px;
}

.Nav nav a:hover{
  background-color: #333;
  color: #fff;
}

.searchBar{
  padding-top: 1%;
}

.Buttons{
  padding-top: 1%;
}

.imgPpal{
  background: url("../img/arboles.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  justify-content: flex-end;
}

.Search{
  position: relative;
  top: 25%;
  left: 10%;
}

 .title{
   color: #fff;
   position: relative;
   top: 25%;
   left: 10%;
 }

 .title p{
  font-size: 20px;
 }

.secondNav{
  max-width: 90%;
  position: relative;
  left: 5%;
  margin-top: 20px;
  color: #666;
}

.containerCards{
  display: grid;
  grid-template-columns: repeat(auto-fill, 240px);
  grid-gap: 10px;
  justify-content: center;
  border: 1px solid #EBEBEB;
  border-radius: 10px;
  padding: 10px;
  max-width: 90%;
  position: relative;
  left: 5%;
  margin-top: 10px;
}
