
/* ----------Login */

*{
  box-sizing: border-box;
}

body{
  font-family: 'Muli', sans-serif;
  padding: 0;
  margin:0;
  background: #c0392b;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #8e44ad, #c0392b);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #8e44ad, #c0392b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.loginContainer{
  max-width: 100%;
  text-align: center;
  justify-content: center;
}

.textBox{
  padding: 10px 12px;
  margin-bottom: 5px;
  border: 0;
  border-bottom: 1px solid #EBEBEB;
  transition: all 500ms ease;
}

.textBox:hover{
  border-bottom: 1px solid #21397F;
}

button{
  padding: 10px 12px;
  color: darkorange;
  background-color: #fff;
  border: 0;
  transition: 300ms ease;
  margin-top: 5px;
  border: 1px solid darkorange;
  max-width: 70%;
}

button:hover{
  cursor: pointer;
  background-color: #3B5998;
  color: #fff;
  border-radius: 5px;
  border: 1px solid #3B5998;
}

.title{
  padding: 10px;
  /* background-color: #000; */
  color: darkorange;
}



.header{
  background: #c0392b;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #8e44ad, #c0392b);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #8e44ad, #c0392b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  max-width: 100%;
  padding: 30px;
  margin-bottom: 10px;
}

.material-icons{
  color: #fff;
  transition: 300ms ease;
  padding: 5px;
  border-radius: 100px;
  position: absolute;
  left: 3%;
  top: 2%;
}

.material-icons:hover{
  background-color: #fff;
  color: #21397F;
}

.acounts{
  max-width: 100%;
  padding: 20px;
  position: relative;
  margin-top: 5px;
  justify-content: center;
}

.google, .facebook{
  max-width: 100%;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: 300ms ease;
  justify-content: center;
  color: #fff;

}

.google:hover, .facebook:hover{

box-shadow: 0 0 1em #000;
}

.facebook{
  background-color: #3B5998;
}

.google{
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
}

.card{
  background-color: #fff;
  max-width: 30%;
  border-radius: 10px;
  border: 1px solid #EBEBEB;
  position: relative;
  left: 35%;
  justify-content: center;
}

.divImg{
  max-width: 30%;
  float: left;

}

.divTexto{
  max-width: 70%;
  position: relative;
  left: 20%;
}

/*----------------*/
@media screen and (min-width: 480px) {

}
